nav {
  display: flex;
  background: #000;
  height: 7.2vh;
  width: 100%;
  padding: 0 5vw;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(11px) saturate(110%);

  .logo a {
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
  }

  .nav-links {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;

    a {
      color: #fff;
      font-weight: 400;
      font-size: 1.1rem;
    }
  }
}
