@font-face {
  font-family: 'Product Sans Regular';
  src: url('/fonts/Product_Sans_Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Product Sans Regular', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #276ef1;
}

a {
  text-decoration: none;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  padding: 1.9rem;
  font-size: 1.06rem;
}

@mixin button {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
  border: none;
  border-radius: 0;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

@import '_header';
@import '_login';
@import '_dashboard';
@import '_home';
@import '_ticket';
