<nav>
  <div class="hamburger">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
  <div class="logo">
    <a href="/">RAILR</a>
  </div>
  <div class="nav-links">
    <% if (user) { %>
    <a href="/dashboard">Dashboard</a>
    <a href="/ticket">My Tickets</a>
    <a href="/auth/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a>
    <% } %>
  </div>
</nav>