<nav>
  <div class="logo">
    <a href="/">RAILR</a>
  </div>
  <div class="nav-links">
    <% if (user) { %>
    <a href="/dashboard">Dashboard</a>
    <a href="/auth/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a>
    <% } %>
  </div>
</nav>