<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>

  <%- include('partials/header.ejs') %>

  <section id="home">
    <div class="home-grid">
      <div class="home-left">
        <h1>Book a ticket now</h1>
        <p>Experience the best Metro Railway Network in Sheet Rock Hills. We make it sure that your exprience will be
          unmatched, with the best hygiene, cleanliness and the ease of travel.</p>

        <div class="buttons">
          <a href="/dashboard" class="book-btn">Book now</a>
          <a class="schedule-btn">About us</a>
        </div>
      </div>
      <div></div>
    </div>
    <div></div>
  </section>

</body>

</html>