<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Railr">
  <meta name="description" content="Railr is the fastest way to travel in Sheet Rock Hills">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/assets/icon.jpg">
  <title>Railr</title>
</head>

<body>

  <%- include('partials/header.ejs') %>

  <section id="home">
    <div class="home-grid">
      <div class="home-left">
        <h1>Book a ticket now</h1>
        <p>Experience the best Metro Railway Network in Sheet Rock Hills. We make sure that your experience will be
          unmatched, with the best hygiene, cleanliness and the ease of travel.</p>

        <div class="buttons">
          <a href="/dashboard" class="book-btn">Book now</a>
          <a class="schedule-btn">About us</a>
        </div>
      </div>
      <div></div>
    </div>
    <div></div>
  </section>

  <section id="about">
    <div class="info">
      <h1>About us</h1>
      <p>Railr in the fastest and most convenient way of travelling in Sheet Rock Hills. Good things happen when
        people can move, whether across town or toward their dreams. Our technology has helped thousands of people reach
        there destination faster and without any trouble around the world to all kinds of places in all kinds of ways.
        We are bringing this venture to Sheet Rock Hills exclusively.
      </p>
    </div>
    <div class="img"></div>
  </section>

  <section id="hygiene">
    <div class="img"></div>
    <div class="right">
      <div class="info">
        <h1>Your safety, our priority</h1>
        <p>In this time of pandemic, hygiene and cleanliness is probably the first thing you would think of while
          travelling and we make it so that you dont have to think about it while travelling with us. Our metros are
          cleaned and tested by WHO as the cleanest in the city. We provide the best, most hygienic and fast metros in
          the town and that too for the cheapest
          rates
          possible</p>
      </div>
    </div>
  </section>

  <section id="work">
    <div class="img"></div>
    <div class="right">
      <div class="info">
        <h1>Work with us</h1>
        <p>We’re building a culture within Railr that emphasizes doing the right thing, for you and our employees.
          Our goal is to create a workplace that is inclusive and
          reflects the diversity of the people we serve — where everyone
          can be their authentic self, and where that authenticity is celebrated as a strength.</p>
      </div>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>

  <script src="/js/navbar.js"></script>
  <script>
    document.querySelector('.schedule-btn').addEventListener('click', () => document.querySelector('#about').scrollIntoView())
  </script>
</body>

</html>