<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tickets | Railr</title>
</head>

<body>

  <%- include('partials/header.ejs') %>

  <% tickets.forEach(ticket => { %>
  <p style="white-space: pre;"><%- JSON.stringify(ticket, null, 4) %></p>
  <% }) %>

  <script src="/js/navbar.js"></script>

</body>

</html>